{% assign footer-logo = 'footer-logo.png' | asset_url %}

<!-- social-icons -->
{% assign icon-tiktok = 'icon-tiktok.svg' | asset_url %}
{% assign icon-youtube = 'icon-youtube.svg' | asset_url %}
{% assign icon_instagram = 'icon_instagram.svg' | asset_url %}

{{ 'customized-footer.css' | asset_url | stylesheet_tag }}

<div class="footer-container">
  <div class="footer-box">
    <div class="footer-nav">
      <img
        src="{{ footer-logo }}"
        class="footer-logo"
        alt="footer-logo"
        width="236"
        height="52"
      />

      <ul class="footer-menus">
        <li><a href="#">eCore GO</a></li>
        <li><a href="#">Bike+ Technology</a></li>
        <li><a href="#">Compatibility</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-content">
      <div class="footer-newsletter">
        {% form 'customer', id: 'NewsletterForm' %}
          <input type="hidden" name="contact[tags]" value="newsletter">

          <div class="newsletter-form">
            <input
              class="newsletter-input"
              id="NewsletterForm--{{ section.id | default: 'default' }}"
              type="email"
              name="contact[email]"
              value="{{ form.email }}"
              aria-required="true"
              autocomplete="email"
              placeholder="Your email"
              required
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="NewsletterForm-error"
              {% elsif form.posted_successfully? %}
                aria-describedby="NewsletterForm-success"
              {% endif %}
            />

            <label for="NewsletterForm--{{ section.id | default: 'default' }}"></label>

            <button
              class="newsletter-button"
              type="submit"
              name="commit"
              aria-label="Subscribe to newsletter"
            >
              <span>Join for free</span>
            </button>
          </div>

          {% if form.errors %}
            <div id="NewsletterForm-error">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </div>
          {% endif %}

          {% if form.posted_successfully? %}
            <div
              id="NewsletterForm-success"
              tabindex="-1"
              autofocus
            >
              Thank you for subscribing!
            </div>
          {% endif %}
        {% endform %}
      </div>

      <div class="footer-line"></div>

      <div class="footer-links">
         <ul class="policy-conditions">
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms & Conditions</a>
              </li>
            </ul>

         <ul class="social-icons">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="TikTok"
                >
                  <img
                    src="{{ icon-tiktok }}"
                    alt="icon-tiktok"
                    width="24"
                    height="24"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="YouTube"
                >
                  <img
                    src="{{ icon-youtube }}"
                    alt="icon-youtube"
                    width="24"
                    height="24"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Instagram"
                >
                  <img
                    src="{{ icon_instagram }}"
                    alt="icon_instagram"
                    width="24"
                    height="24"
                  />
                </a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {
        "name": "Customized Footer Section"
      }
    ]
  }
{% endschema %}